{% extends "cases/base.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}

<h3>{{ item.title }}{% if not item.active %} (Заявка закрыта){% endif %}</h3>
{% include 'cases/snippets/post.html' with item=item %}
{% for comment in item.comments.all %}
    {% include 'cases/snippets/post.html' with item=comment %}
{% endfor %}
<form method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    {% if item.active %}
        <button type="submit" class="btn btn-primary">Отправить</button>
        {% if request.user == item.author %}
            <button type="submit" name="close-case" value="close" class="btn btn-secondary">Закрыть заявку</button>
        {% endif %}
    {% endif %}
</form>
{% endblock %}