{% extends "cases/base.html" %}

{% block title %}Список{% endblock %}

{% block content %}

{% if title or module %}
<h3>Результаты поиска{% if title %} по {{ title }}{% endif %}{% if module %} в APN {{ module }}{% endif %}</h3>

{% include 'cases/snippets/table.html' with results=results %}

{% else %}
  <h3>Поиск заявок</h3>
  <a href="{% url 'cases:search-apn' %}?next={{next_url}}" class="btn btn-secondary">Выбрать APN</a>

  <form method="get">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Поиск</button>
  </form>
{% endif %}

{% endblock %}