{% extends "cases/base.html" %}

{% block title %}
Редактирование профиля
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm">
{% if messages %}
  {% for message in messages %}
  <div>
  <h3>{{ message|safe }}</h3>
    </div>
  {% endfor %}
{% else %}
<h3>Редактирование профиля</h3>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
<br>
<a href="{% url 'account:password_change' %}" class="btn btn-success">Сменить пароль</a>
    </div>
    <div class="col-sm">
        <div class="row">
            <div class="col">
                <h3>Мои заявки</h3>
            </div>
            <div class="col">
                <a href="{% url 'account:archive' %}" class="btn btn-secondary">Архив заявок</a>
            </div>
        </div>
        {% include 'account/snippets/table.html' with items=items %}
    </div>
</div>
{% endblock %}