{% extends "cases/base.html" %}

{% block title %}
Редактирование профиля
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm">
{% if messages %}
  {% for message in messages %}
  <div>
  <h3>{{ message|safe }}</h3>
    </div>
  {% endfor %}
{% else %}
<h3>Редактирование профиля</h3>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
<br>
<a href="{% url 'account:password_change' %}" class="btn btn-success">Сменить пароль</a>
    </div>
    <div class="col-sm">
        <h3>Мои заявки</h3>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Описание</th>
      <th scope="col">Модуль</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>
  <tbody>
  {% for item in items %}
    <tr>
      <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
      <td>{{ item.module }}</td>
      <td>{% if item.active %}Открыта{% else %}Закрыта{% endif %}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
    </div>
</div>
{% endblock %}